*{
    font-family: monospace
}
body{
    font-size: 15px;
    background-color: #181818;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}


div.interface{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "left code controls right";
    align-items: stretch;
    min-height: 100%;
}


div.code{
    color: white;
    padding-top: 0.5em; padding-bottom: 0.5em;
    grid-area: code;
    padding-right: 3em;
    border: 0px solid #555;
    border-width: 0px 2px 0px 2px;
}

#asm_code{
    grid-area: left;
}

#controls{
    grid-area: controls;
}

.code span.c-type{
    color: lightgreen;
}

.code span.tab{
    margin-left: 2.3em;
}

.code span.keyword{
    color: orange
}

.code span.constant{
    color: teal
}

.code span.function-name{
    color: lightblue
}

.code span.line-number{
    position: relative;
    display: inline-block;
    width: 4em;
    margin: 0em 1em;
    text-align: center;
    border-bottom: solid 1px #333;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.code span.line-number.clickable{
    cursor: pointer;
}

.code span.line-number:before{
    position: absolute;
    color: #000;
    width: 1.2em;
    left: 0em;
}

.code span.breakpoint:before{
    background-color: #fbb;
    content: 'bp';
}
.code span.current:before{
    background-color: #ffb;
    content: "cr";
}
.code span.breakpoint.current:before{
    background-color: #fb8;
    content: "bc";
}

#hover_image{
    display: none;
    position: fixed;
    background-color: #fff;
    border: solid 1px #bbb;
    border-radius: 4px;
    padding: 4px;
}


#controls{
    display: grid;
    grid-template-rows: auto 1fr;
}

#controls #flow-control a{
    display: block;
    color: #007db6;
    cursor: pointer;
    padding: 0.2em 0.5em;
}
#controls #flow-control a:hover{
    background-color: #cbeeff;
}

#variables{
    margin: 0.5em;
    background-color: #eee;
}

#variables>ul{
    list-style: none;
    color: #222;
    margin: 0;
    padding: 0.2em 0.5em;
}
#variables>ul>li{
    margin: 0;
}

#run{
}
#step{
}
#step-in{
}
